{% block ingredients %}
    <h2>Ingredients</h2>
    <ul>
        <li>414 ml Flour</li>
        <li>7 ml Sugar</li>
        <li>1 ml Baking Powder</li>
        <li>5 ml Baking Soda</li>
        <li>3 Egg yolks ; beaten</li>
        <li>3 Egg whites ; beaten stiff</li>
        <li>44 ml Margarine ; melted</li>
        <li>532 ml Low fat plain yogurt</li>
        <li>237 ml Blueberries</li>
    </ul>
{% endblock %}