{% block ingredients %}
    <h2>Ingredients</h2>
    <ul>
        {% for ingr in ingredients %}
            <li>
                <input type="checkbox">
                {% if ingr.amount %}
                    <span>
                        {{ ingr.amount }}
                    </span>
                {% endif %}

                {% if ingr.measurement %}
                    <span>
                        {{ ingr.measurement.name }}
                    </span>
                {% endif %}

                <span>{{ ingr.ingredient.name }}</span>
            </li>
        {% endfor %}
    </ul>
{% endblock %}