{% block ingredients %}
    <h2>Ingredients</h2>
    <ul>
        {% for ingr in ingredients %}
            <li>
                <input type="checkbox">
                <span class="cb-ingr">
                    {% if ingr.amount %}
                        <span class="cb-ingr-amount">
                            {{ ingr.amount }}
                        </span>
                    {% endif %}

                    {% if ingr.measurement %}
                        <span>
                        {{ ingr.measurement.name }}
                    </span>
                    {% endif %}

                    <span>{{ ingr.ingredient.name }}</span>
                </span>
            </li>
        {% endfor %}

    </ul>
    <button id="createShoppingList">Add to Shopping List</button>
{% endblock %}