{% block ingredients %}
    <h2>Ingredients</h2>
    <ul id="ingredients">
        {% spaceless %}
        {% for ingr in ingredients %}
            {% set amount = "  " %}
            {% if ingr.amount %}
                {% set amount = ingr.amount %}
            {% endif %}

            {% set measurement = "" %}
            {% if ingr.measurement %}
                {% set measurement = " " ~ ingr.measurement.name %}
            {% endif %}

            {% set ingredient = " " ~ ingr.ingredient.name %}


            {%- if annotations -%}
            {%- else -%}
            {%- endif -%}
            <li>
                <input type="checkbox" class="cb-ingr-checkbox"/>
                <span class="cb-ingr"><span class="cb-ingr-amount">{{ amount }}</span>{{ measurement }}{{ ingredient }}</span>
            </li>

        {% endfor %}
        {% endspaceless %}
    </ul>
    <button id="createShoppingList">Add to Shopping List</button>
{% endblock %}