{% form_theme classificationForm 'bootstrap_3_layout.html.twig' %}
<div class="col-md-4">
    {{ form_start(classificationForm, {'attr': {'novalidate': 'novalidate'}}) }}
        <div class="form-group">
            {{ form_errors(classificationForm) }}
        </div>
        {{ form_row(classificationForm.name) }}
    {{ form_end(classificationForm) }}
</div>
