{% form_theme measurementForm 'bootstrap_3_layout.html.twig' %}
<div class="col-sm-6 col-md-4 col-lg-4">
    {{ form_start(measurementForm, {'attr': {'novalidate': 'novalidate'}}) }}
        <div class="form-group">
            {{ form_errors(measurementForm) }}
        </div>
        {{ form_row(measurementForm.name) }}
    {{ form_end(measurementForm) }}
</div>
