{% block ingredients %}
    <h2>Ingredients</h2>
    <ul>
        {% for ingr in ingredients %}
            <li>
                <input type="checkbox">
                <span>
                    {% if ingr.amount %}
                        <span>
                            {{ ingr.amount }}
                        </span>
                    {% endif %}

                    {% if ingr.measurement %}
                        <span>
                        {{ ingr.measurement.name }}
                    </span>
                    {% endif %}

                    <span>{{ ingr.ingredient.name }}</span>
                </span>
            </li>
        {% endfor %}
    </ul>
    <button class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> Add to Shopping List</button>
{% endblock %}