{% block preparation %}

    {% if recipe.preparation %}
        <h2>Preparation</h2>
        <p>{{ recipe.preparation }}</p>
    {%  endif %}
{% endblock %}


{% block annotations %}
    {% set annotationID = "" %}
    {% if annotations %}
        {% set annotationID = annotations.id %}
    {% endif %}

<div id="an-tools" data-annotation-id="{{ annotationID }}">
    <div><button id="yellow" class="cb-an-c-yellow">y</button>
        <button id="cyan" class="cb-an-c-cyan">c</button>
        <button id="pink" class="cb-an-c-pink">p</button>
        <button id="crossout" class="cb-an-f-off">cross out</button> <button id="takenote">take notes</button>
        <button id="hide">hide</button> <button id="save">Save</button></div>
</div>
{% endblock %}