{% extends 'CookbookBundle:default:base.html.twig' %}

{% block main %}
    <main>
        <div class="container cb-recipe">
            <div class="row">
                <div class="col-md-3">
                    <img class="cb-recipe-image img-responsive" src="{{ asset(imagePath) }}" alt="{{ recipe.title }}" title="{{ recipe.title }}">
                </div>
                <div class="col-md-9">
                    {% include 'CookbookBundle:recipe-output-system:recipeInfo.html.twig' %}
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    {% include 'CookbookBundle:recipe-output-system:ingredients.html.twig' %}
                </div>
                <div class="col-md-8">
                    {% include 'CookbookBundle:recipe-output-system:preparation.html.twig' %}
                    {% include 'CookbookBundle:recipe-output-system:instructions.html.twig' %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}