<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>{% block title %}Welcome!{% endblock %}</title>

        <!-- STYLESHEET -->
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}"/>
        <link href='http://fonts.googleapis.com/css?family=Courgette&subset=latin,latin-ext' rel='stylesheet' type='text/css' />
        {% block stylesheets %}{% endblock %}

        <!-- JAVASCRIPT included in head on purpose, do not change-->
        {% block javascripts %}
            <script src="{{ asset('js/script.js') }}"></script>
        {% endblock %}

        <!-- FAVICON -->
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    </head>

    <body>
        {% include 'CookbookBundle:default:header.html.twig' %}
        {% include 'CookbookBundle:default:nav.html.twig' %}
        {% block main %}
            {% include 'CookbookBundle:default:main.html.twig' %}
        {% endblock %}
        {% include 'CookbookBundle:default:footer.html.twig' %}
        {% block login %}

        {% endblock %}
    </body>
</html>
