{% block header %}
    <header class="container-fluid">
        <div class="row cb-header">
            <div class="col-lg-3 col-md-3">

                <img class="cb-logo" src="{{ asset('img/logo.png') }}" title="Logo" alt="Logo" width="75">
                <h1 class="cb-h1" id="cb-anna">Cookbook</h1>
            </div>
            <div class="col-lg-3 col-lg-push-6">
                <div class="cb-header-links">
                    <button onclick="foo()" class="btn btn-default"><img src="{{ asset('img/cookbook.png') }}" width="20" alt="Cookbook"></button>
                    <button class="btn btn-default"><img src="{{ asset('img/calender.png') }}" width="20" alt="Menu"></button>
                    <a href="/login" class="btn btn-default">Login</a>
                </div>
            </div>
        </div>
    </header>
    <hr>
{% endblock %}
