{% form_theme searchForm 'bootstrap_3_layout.html.twig' %}

{% block main %}
    <main>
        <div class="container-fluid">
            <div class="row cb-search">
                <div class="col-md-4 col-lg-push-4">
                    {{ form_start(searchForm) }}
                        <div class="input-group">
                            {{ form_row(searchForm.search, {'attr': {'class': 'form-control'}}) }}
                            <span class="input-group-btn"><button class="btn btn-default">Go!</button></span>
                        </div>
                    {{ form_end(searchForm) }}
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row cb-main">
                {% for recipe in recipes %}
                    <div class="col-md-4">
                        {% include 'CookbookBundle:default:box.html.twig' %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </main>
    <hr>
{% endblock %}