{% block main %}
    <main>
        <div class="container-fluid">
            <div class="row cb-search">
                <div class="col-md-4 col-lg-push-4">
                    <form>
                        <input type="search" class="form-control" placeholder="Search Recipe :)">
                    </form>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row cb-main">
                {% for recipe in recipes %}
                    <div class="col-md-4">
                        {% include 'CookbookBundle:default:box.html.twig' %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </main>
    <hr>
{% endblock %}