{% block nav %}
    <div class="container">
        <div class="row cb-nav">
                <nav>
                    <ul class="nav nav-tabs">
                        <li role="presentation" ><a href="/" title="Home">Home</a></li>
                    </ul>

                    <!--
                    <a class="btn btn-default" href="#" role="button">Breakfast</a>
                    <a class="btn btn-default" href="#" role="button">Lunch</a>
                    <a class="btn btn-default" href="#" role="button">Dinner</a>
                    -->
                </nav>
        </div>
    </div>
{% endblock %}