{% block nav %}
    <div class="container">
        <div class="row cb-nav">
                <nav>
                    <ul class="nav nav-tabs">
                        <li role="presentation" ><a href="/" title="Home">Home</a></li>
                    </ul>
                </nav>
        </div>
    </div>
{% endblock %}