@import url(globals.less);
@import url(http://fonts.googleapis.com/css?family=Oswald);

.cb-recipe {
  margin-top: 20px;
  margin-bottom: 20px;
  color: rgba(0, 0, 0, 0.99);
}

/* recipe image */
div.img-thumbnail {
  display: block;
  max-width: 300px;
}

.cb-ros-thumbnail-img {
  width: 100%;
  height: 250px;
  background: center center no-repeat;
  background-size: cover;
}

/* recipe title */
.cb-ros-recipe-title {
  font-family: 'Oswald', sans-serif;
  font-size: 1.8em;
  color: @headlines-font-color;
  line-height: 1em;
}

/* recipe info */
div.cb-ros-recipe-info {
  background-color: @border-color;
  padding: 10px;
  border: solid 1px #cccccc;
  border-radius: @border-radius;
  max-width: 300px;
}

div.cb-ros-recipe-info > p {
  margin: 0;
  font-size: 0.85em;
}

span.cb-ros-recipe-bold-txt {
  font-weight: bold;
}

a.cb-ros-source {
  word-wrap: break-word;
  white-space: pre;
}

/* recipe ingredients*/
h2.cb-ros-recipe-subtitle {
  font-family: 'Oswald', sans-serif;
  font-size: 1.4em;
  color: @headlines-font-color;
  line-height: 1em;
}

input#servings {
  border: solid 1px #ddd;
  padding: 5px;
  width: 55px;
}

input#servings:hover {
  border-color: #9b9b9b;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
}

.cb-ingr-checkbox {
  float: left;
  width: 8%;
}

.cb-ingr {
  float: left;
  width: 90%;
  line-height: 1.8em;
  font-size: 1em;
  padding-bottom: 8px;
}

.cb-ingr-amount {
  font-weight: 600;
  border: solid 1px #ddd;
  padding: 5px;
  font-size: 1em!important;
}

.cb-ingr-amount:focus {
  font-size: 1em;
}

.cb-ingr-amount:hover {
  border-color: #9b9b9b;
  cursor: pointer;
}

button#cb-sl-addItemsToShoppingListButton {
  float: left;
  margin-right: 5px;
  margin-top: 5px;
}

button#cb-sl-checkAllShoppingListItemsButton {
  margin-top: 5px;
}


/* instructions */
ol#preparation {
  list-style-type: none;
  list-style-type: decimal !ie; /*IE 7- hack*/

  margin: 0 0 0 1.5em;
  padding: 0;

  counter-reset: li-counter;
}

ol#preparation > li{
  position: relative;
  margin-bottom: 20px;
  padding-left: 0.5em;
  min-height: 2em;
  border-left: 2px solid @border-color;
}

ol#preparation > li:before {
  position: absolute;
  top: 0;
  left: -1em;
  width: 0.8em;

  font-family: 'Oswald', sans-serif;
  font-size: 1.4em;
  line-height: 1em;
  font-weight: bold;
  text-align: right;
  color: @headlines-font-color;

  content: counter(li-counter);
  counter-increment: li-counter;
}


/* MEDIA QUERIES */
/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {
  .cb-recipe {
    margin-top: 15px;
    margin-bottom: 60px;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {

}