
.cb-recipe {
  margin-top: 60px;
  margin-bottom: 60px;
  color: rgba(188, 121, 255, 0.99);
}

.cb-recipe-image {
  width: 100%;
}

.cb-an-f-highlight {

  background-color: #fffe70;
//  font-weight: bold;
}

[contenteditable="true"] {
  color: #4985ff;
  font-size: 1.2em;
  font-family: 'Courgette', cursive;
}

