@import url(globals.less);

/*
* HIDE CHECKED ITEMS
*/
button#cb-sl-hideUserShoppingListItem {
  background: url('../img/icons/hide.png') 5px center no-repeat;
}

.cb-sl-userShoppingListItemHidden {
  display: none;
}

button#cb-sl-hideUserShoppingListItem,
button#deleteShoppingListItem_deleteAll,
button#deleteShoppingListItem_deleteItem {
  float: left;
  margin: 5px 0;
  padding-left: 30px;
}

/*
* DELETE BUTTONS
*/
button#deleteShoppingListItem_deleteAll {
  margin-right: 70%;
  background: url('../img/icons/trash.png') 5px center no-repeat;
  background-size: 20px 20px;
}

button#deleteShoppingListItem_deleteItem{
  background: url('../img/icons/remove_checked.svg') 2px center no-repeat;
  background-size: 28px 28px;
}

/*
* SHOPPING LIST
*/
ul.cb-sl-userShoppingList {
  list-style: none;
  margin: 20px 0 0 0;
  padding: 0;
}

li.cb-sl-userShoppingListItemContainer {
  min-height: 44px;
  margin: 10px 0;
  float: none;
  clear: both;
}

p.cb-sl-userShoppingListItem {
  float: left;
  width: 80%;
  margin: 0 10px 10px 0;
  padding: 14px 4px 10px 6px;

  border: 1px solid grey;
  border-radius: 4px;
  background-color: rgba(153, 153, 153, 0.25);

  min-height: 44px;
  vertical-align: middle;
  font-size: 0;

  word-break: break-all;
}

input.cb-sl-userShoppingListItemCheckbox {
  margin: 0 5px 1px 0;

  font-size: @default-font-size;
  display: inline-block;
  vertical-align: middle;
  font-weight: normal;
}

label.cb-sl-userShoppingListItemText {
  margin: 0;
  width: 90%;

  font-size: @default-font-size;
  line-height: @default-font-size;
  display: inline-block;
  vertical-align: middle;
}

label.cb-sl-userShoppingListItemText:focus {
  font-size: @default-font-size + 2px;
}

button.cb-sl-editUserShoppingListItem {
  height: 44px;
  padding-top: 10px;
  font-size: @default-font-size + 1px;
}

p.cb-sl-userShoppingListItem:hover,
input.cb-sl-userShoppingListItemCheckbox:hover,
label.cb-sl-userShoppingListItemText:hover {
  cursor: pointer;
}


/*
* ADD SHOPPING LIST ITEM FORM
*/
form#cb-sl-addShoppingListItemForm {
  margin: 0 0 20px 0;
}

input#addShoppingListItem_item, button#addShoppingListItem_save {
  min-height: 44px;
}

/*
* CHECKED ITEM STYLE
*/
.cb-sl-userShoppingListItemTextCrossed {
  text-decoration: line-through;
  color: grey;
}

/* MEDIA QUERIES */
/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {
  button#deleteShoppingListItem_deleteAll, button#deleteShoppingListItem_deleteItem {
    float: right;
    margin: 0;
  }

  button#deleteShoppingListItem_deleteItem {
    margin-right: 10px;
  }

  button#deleteShoppingListItem_deleteAll {
    margin-right: 5px;
  }

  p.cb-sl-userShoppingListItem {
    margin: 0 10px 10px 0;
    padding: 14px 15px 10px 15px;
    width: 92%;
  }

  label.cb-sl-userShoppingListItemText {
    width: 95%;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {
  p.cb-sl-userShoppingListItem {
    width: 90%;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {

}

