ul.cb-sl-userShoppingList{
  list-style: none;
  margin: 20px 0 20px 0;
  padding: 0;
}

li.cb-sl-userShoppingListItem {
  width: 100%;
  margin-top: 10px;
  padding: 10px 15px;
  border: 1px solid grey;
  border-radius: 4px;
  background-color: lightgoldenrodyellow;
}

/*
li.cb-sl-userShoppingListItem:hover,
input.cb-sl-userShoppingListItemCheckbox:hover,
label.cb-sl-userShoppingListItemText:hover {
  cursor: pointer;
}
*/

input.cb-sl-userShoppingListItemCheckbox {
  width: 3%;
  margin: 0;
  position: relative;
  vertical-align: middle;
}

label.cb-sl-userShoppingListItemText {
  width: 96%;
  margin: 0;
  vertical-align: middle;
}

.cb-sl-userShoppingListItemTextCrossed {
  text-decoration: line-through;
  color: grey;
}

.cb-sl-userShoppingListItemHidden {
  display: none;
}