@import url(globals.less);
@import url(http://fonts.googleapis.com/css?family=Pacifico);

/* GLOBAL DOCUMENT STYLES */
* {
  margin: 0;
  padding: 0;
}

body {
  font-size: @default-font-size;
}

hr {
  margin: 10px 0 20px 0;
}

main {
  overflow-x:hidden;
}

.cb-h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 1.8em;
  color: @headlines-font-color;
  line-height: 1em;
}

/* HEADER */
.navbar-brand {
  padding: 5px 0 0 10px;
  font-size: @default-font-size;
  min-width: 65%;
}

.cb-title {
  color: rgb(179, 14, 14);
  margin-left: 10px;
  margin-top: 20px;
  font-family: 'Homemade Apple', cursive;
  float: left;
  font-size: 1.5em;
  text-shadow:  0 0 10px rgba(255, 97, 0, 0.7);
}

/* NAV */
.cb-navbar-nav {
  min-height: 40px;
  background-color: white;
  border-radius: 0;
  border: none;
}

div#cb-navbar, .navbar-collapse {
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

div#cb-navbar > ul.cb-header-links > li {
  text-align: right;
}

div#cb-um-user-dropdown {
  float: right;
}

div#cb-um-user-dropdown > button {
  padding: 9px 10px;
  margin-top: 8px;
  margin-bottom: 8px;
}

/* MAIN */
.cb-main {
  padding: 20px 0 20px 0;
}

.cb-scroll-down {
  float: right;
  padding: 25px 28px;
  margin: -20px 15px 15px 0;
  border: solid 1px @border-color;
  border-radius: 50%;
  background-color: rgba(221, 221, 221, 0.60)
}

.cb-scroll-down:hover {
  background-color: rgba(221, 221, 221, 0.80);
}

.cb-scroll-down {
  color: rgba(0, 0, 0, 0.70);
}

.cb-scroll-down:hover {
  color: black;
}

/* RECIPE BOX */
/* category box */
div.cb-recipe-category-box {
 margin-bottom: 20px;
}

div.cb-category-box-thumbnail-img-wrapper {
  width: 100%;
  height: 250px;
  position: relative;
  display:none;
}
div.cb-category-box-thumbnail-img {
  margin: 0;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 31%;
  height: 90%;
  background: center center no-repeat;
  background-size: cover;
  border-radius: 50%;
}

div.cb-category-box-title > h2 {
  text-align: center;
  margin: 0;
  font-family: 'Oswald', sans-serif;
}

/* recipe boxes */
div.cb-recipe-preview-box:hover {
  -webkit-box-shadow: 0 0 10px 0 rgba(50, 50, 50, 0.5);
  -moz-box-shadow:    0 0 10px 0 rgba(50, 50, 50, 0.5);
  box-shadow:         0 0 10px 0 rgba(50, 50, 50, 0.5);
}

div.cb-recipe-preview-box-thumbnail-img {
  width: 100%;
  //height: 250px;
  height: 100px;
  background: center center no-repeat;
  background-size: cover;
}

div.cb-recipe-preview-box-title > p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 5px 0 0 0;
  font-size: 1em;
}

/* FOOTER */
.cb-footer {
  background-color: @dark-red;
  height: 40px;
  padding: 15px;
  font-size: 0.85em;
  color: @pancake-yellow;
  text-align: right;
}

/* ALIGNMENT & FLOATING */
.cb-clear-both {
  clear:both;
}

/* MEDIA QUERIES */
/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {
  hr {
    margin: 30px 0 50px 0;
  }

  .cb-main {
    padding: 50px 0 50px 0;
  }

  div.cb-recipe-preview-box-thumbnail-img {
    height: 250px;
  }

  div.cb-category-box-thumbnail-img-wrapper {
    display:block;
  }

  .cb-header-links {
    float: right;
  }

  .navbar-header {
    width: 50%;
  }

  #cb-navbar {
    padding: 0;
  }

  .cb-title {
    font-size: 2.1em;
  }

  .cb-logo {
    width: 50px;
    height: auto;
  }

  .cb-navbar-nav {
    min-height: 50px;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {
  .cb-main {
    padding: 90px 0 90px 0;
  }

  div.cb-category-box-thumbnail-img {
    width: 80%;
    height: 71%;
  }

  .navbar-header {
    width: 50%;
  }

  .cb-navbar-nav {
    margin-bottom: 15px;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {
  div.cb-category-box-thumbnail-img {
    width: 80%;
    height: 85%;
  }
}